body {
    background-color: grey;
    color: rgb(2, 2, 97);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}

a {
    color: black;
    font-weight: bold;
}

ul {
    margin-right: 20px;
    text-align: right;
}

li {
    display: inline;
    margin-right: 20px;
}

.header {
    width: 100%;
    background-color: rgb(100, 4, 57);
}

h1 {
    color: rgb(100, 4, 57);
    text-align: center;

}